* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* font: 10px/8px     tak zapisuje sie interlinie*/
.main {
    /*border: 1px solid red;*/
    margin: 0 auto;
    width: 930px;
    padding: 5px 5px;
    font-family: 'Open Sans', sans-serif;
}

.main::after {
    content: "";
    clear: both;
    display: block;
}

header {
    background-color: black;
    color: white;
}

.logo {
    margin: 5px 5px;
    float: left;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.green {
    color: #1cbfb3;
}

nav {
    float: right;
    margin: 10px 0;
    text-align: center;
}

li {
    display: inline-block;
}


/* lista rozwijana */

nav ul li a {
    text-decoration: none;
    color: inherit;
    margin: 0 15px;
    list-style-type: none;
}

nav ul li {
    position: relative;
}

.black_menu {
    /* dopracowac menu rozwijane*/
    display: none;
    background-color: black;
    list-style: none;
    margin: 1px auto;
    color: white;
    position: absolute;
    top: 40px;
    font-size: 12px;
}

nav ul li:hover ul {
    background-color: black;
    list-style: none;
    display: block;
    color: white;
    z-index: 0;
}


/* druga sekcja*/

.arrow {
    background-color: transparent;
    font-size: 50px;
    font-weight: bold;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 4em;
    text-align: center;
}

a {
    text-decoration: none;
}

.arrow li {
    display: block;
}

.arrow .prev {
    float: left;
}
.arrow .next {
    float: right;
}
.slider {
    background: linear-gradient(white, lightgrey);
}

.slider img {
    float: left;
    width: 420px;
}

.slider_main {
    width: 440px;
    height: 150px;
    float: left;
    margin: 50px 10px 0px 10px;
}

.slider_main h1, p {
    text-align: center;
    margin-bottom: 10px;
}

.slider_main p {
    color: grey;
}

.button {
    width: 200px;
    height: 40px;
    background-color: #1cbfb3;
    border-radius: 10px;
    padding: 10px 0 0 0;
    text-align: center;
    margin: 0 auto;
}

.button a {
    color: white;
    text-transform: uppercase;
}


/*content box*/
.content{
          margin: 30px 0 50px 0;
}
.content_box {
    width: 297px;
    height: 200px;
    display: inline-block;
    position: relative;
    background-color: white;
}

.baner {
    width: 95%;
    height: 30%;
    /*border: 1px solid red;*/
    padding: 5px 1px 5px;
    margin: 0 10px;
    position: absolute;
    top: 60%;
    background-color: rgba(219, 219, 219, 0.53);
}

.greenLine {
    width: 150px;
    height: 10px;
    background-color: #1cbfb3;
}

.baner p {
    text-align: left;
}

.content_box:nth-of-type(1) {
    background-image: url("../images/box1_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.content_box:nth-of-type(2) {
    background-image: url("../images/box2_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 10px;
}

.content_box:nth-of-type(3)>.baner {
    top: 10px;
    background-color: transparent;
    border-color: transparent;

}

.content_box p:last-child {
    text-align: center;
    color: grey;
    font-size: 12px;
 }

.content .content_box:last-child{
    border: 1px solid rgb(199, 199, 199);
    border-radius: 2px;
}

 /*priceList */
.priceList{
          background-color: rgb(232, 232, 232);
          padding-bottom: 40px;
}
.banerPrice{
          border-bottom: 7px solid #1cbfb3;
          width: 290px;
          margin: 30px 0 70px 0;
          text-align: left;
          text-transform: uppercase;
}
.boxes{
          text-align:center;
}

.boxes>div{
          width: 290px;
          height: 400px;
          margin: 0 5px;
          display: inline-block;
          position: relative;
          text-align: center;
          vertical-align: middle;
}

.circleBig{
          width: 50px;
          height: 50px;
          border: 1px solid white;
          position: relative;
          top: -30px;
          left: 100px;
          border-radius: 50%;
}

.circleSmall{
          width: 24px;
          height: 24px;
          bottom: 11px;
          left: 12px;
          border-radius: 50%;
          position: absolute;
}

.boxes span{
          display: block;
          text-align: center;
          margin-top: -5px;
          text-transform: uppercase;
          font-size: 20px;
}

.circlePrice{
          width: 100px;
          height: 100px;
          border-radius:50%;
          position:relative;
          left: 80px;
          top: 20px;
          margin-bottom: 50px;
          font-size: 28px;
          font-weight: bold;
}

.circlePrice p:first-child{
          margin-top:10px;
}
.circlePrice p:last-child, sup{
          font-size: 12px;
}
.boxes .button{
          width: 100px;
          height: 25px;
          display: block;
          margin-top: 50px;
          padding: 3px 0 0 0;
          text-transform: uppercase;
          font-size: 14px;
}
.boxes ul{
          height: 100px;
          margin-top: -10px;
}
.boxes li{
          display:block;
          margin:0;
          padding: 2px;
}
/*box1*/
.box1{
          border: 2px solid lightgrey;
          background-color: white;
}
.box1 span{
          color: #1cbfb3;
}
.box1 .circleBig {
          background-color: white;
          border: 2px solid darkgrey;
}

.box1 .circleSmall {
          background-color: darkgrey;
}
.box1 .circlePrice{
          color: darkgrey;
          border: 2px solid darkgrey;
          background-color: white;
}
.box1 ul li:nth-of-type(1){
          margin: 0;
          padding:5px 0;
          color:grey;
          background-color: darkgrey;
}
.box1 ul li:nth-of-type(2){
          margin: 0;
          padding:5px 0;
          color:grey;
          background-color: lightgrey;
}
.box1 .button{
          color: white;
}

/* box 2 */
.box2{
          border: 2px solid #1cbfb3;
          background-color: #1cbfb3;
}
.box2 span{
          color: white;
}
.box2 .circleBig {
          background-color: #1cbfb3;
          border: 2px solid #1cbfb3;
}
.box2 .circleSmall {
          background-color: white;
}
.box2 .circlePrice{
          color: #1cbfb3;
          border: 2px solid white;
          background-color: white;
}
.box2 .button{
          color: #1cbfb3;
          background-color: white;
          left: 10px;
          button: 15px;}

.box2 ul li:nth-of-type(1){
          margin: 0;
          padding:5px 0;
          color:grey;
          background-color: white;
}
.box2 ul li:nth-of-type(2){
          margin: 0;
          padding:5px 0;
          color:grey;
          background-color: lightgrey;
}
.box2 ul li:nth-of-type(3){
          margin: 0;
          padding:5px 0;
          color:grey;
          background-color: white;
}
/*box 3*/
.box3{
  border: 2px solid lightgrey;
  background-color: white;
}
.box3 span{
  color: #1cbfb3;
}
.box3 .circleBig {
  background-color: white;
  border: 2px solid darkgrey;
}

.box3 .circleSmall {
          background-color: darkgrey;
}
.box3 .circlePrice{
  color: darkgrey;
  border: 2px solid darkgrey;
  background-color: white;
}
.box3 ul li:nth-of-type(odd){
  margin: 0;
  padding:5px 0;
  color:grey;
  background-color: darkgrey;
}
.box3 ul li:nth-of-type(even){
  margin: 0;
  padding:5px 0;
  color:grey;
  background-color: lightgrey;
}
.box3 .button{
  color: white;
}

div.wrapFoot{
  width: 920px;
  height: 400px;
}

.banerContact{
  border-bottom: 7px solid #1cbfb3;
  width: 290px;
  margin: 30px 0 30px 0;
  text-align: left;
  text-transform: uppercase;
}

.wrapForm, .wrapContact{
width: 430px;
height: 300px;
float:left;
margin: auto 10px;

}
form{
  margin: 10px auto;
  display: block;
}
fieldset{
    border: white;
}
label{
  margin: 10px  auto;
  display: block;
}
input, textarea{
  width: 400px;
  height: 50px;
  border: 1px solid #1cbfb3;
}
textarea{
  height: 150px;
}
/*nie wiem czemu ponizej nie dziala*/
input.plac [placeholder]  {
    font-size: 24;
    color: lightgrey;
}

.wrapContact img{
  width: 200px;
  margin-left: 30px;
}

  form.formal{
    width: 350px;
    margin-left: 10px;
  }

  .formal .chec {
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px;
  }

input[type="checkbox"]{
  background-color: white;
  }

input[type="checkbox"]:checked{
  border: red;
  background-color: white;
}

  .formal label{
    color: lightgrey;
  }


  input.butt {
    width: 320px;
    height: 50px;
    margin: 5px;
    background-color: #1cbfb3;
    color: white;
    font-size: 24px;
    border-radius: 5px;
  }
div.footEnd{
  width: 920px;
  height: 100px;

}
div.images, .footEnd p {
  display: inline;
}
.footEnd p:first-of-type{
  font-size: 14px;
  color: lightgrey;
  margin-right: 150px;
}
.images img{
  width: 25px;
  height: 25px;
}
.sit{
margin: 0 100px;
color: grey;
}
.sit span{
font-weight: bolder;
}

/* color: #1cbfb3; */
